# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.XmlToObjectParser.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lampa\RiderProjects\XmlToObjectParser\.idea\.idea.XmlToObjectParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
